<html>
   <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
      {{ colorpicker.loader() }}
      {{ colorpicker.picker(ids=['.colorpicker'], color_format='rgb', showAlpha='false', showButtons='true', cancelText=translations.CANCEL, chooseText=translations.CHOOSE) }}
      
      <title>{{translations.VISUALISER_CONFIGURATION}}</title>
   </head>
   <body>
      
      <form action="/config-mod" method="POST">
         <h1 style="color: #12ED9F; text-align:center; font-size: 33px;">{{translations.VISUALISER_CONFIGURATION}}</h1>
         
         <h2 style="color: #12ED9F; font-size: 30px;">{{translations.SELECT_LANGUAGE}}</h2>
         
         {% for lan in language_set|reverse %}
            <a href="/set_lang?lang={{lan}}"><img {% if lang == lan %} class="flag_border" {% else %} class="flag" {% endif %} src="{{url_for('static', filename='/../images/' + lan + '.png')}}"></a>
         {% endfor %}

         <h2 style="color: #12ED9F; font-size: 30px;">{{translations.SELECT_VISUALISER_PATTERN}}</h2>
         <label>
            <input class="rad" type="radio" name="pattern-options" value="1" {% if config_data[pattern_key] =="1" %} checked {% endif %}>
            <img src="http://placehold.it/40x60/0bf/fff&text=A">
         </label>

         <label>
            <input class="rad" type="radio" name="pattern-options" value="2" {% if config_data[pattern_key] =="2" %} checked {% endif %}>
            <img src="http://placehold.it/40x60/b0f/fff&text=B">
         </label>

         <label>
            <input class="rad" type="radio" name="pattern-options" value="3" {% if config_data[pattern_key] =="3" %} checked {% endif %}>
            <img src="http://placehold.it/40x60/b0f/fff&text=C">
         </label>
         
         <h2 style="color: #12ED9F; font-size: 30px;">{{translations.SET_BRIGHTNESS}}</h2>
         <input type="range" min="0" max="100" name="colour-brightness" id="brightnessSet" value='{{config_data[brightness_key]}}' oninput="brightnessGet.value = brightnessSet.value"/>
         <output class="range_symbols" name="colour-brightness-display" id="brightnessGet">{{config_data[brightness_key]}}</output>

         <h2 style="color: #12ED9F; font-size: 30px;">{{translations.SET_COLOUR}}</h2>
         <input class='colorpicker' name="colour-picker" value='{{config_data[colour_key]}}'/>

         <p></p>

         <div style="text-align:center;">
            <input type="submit" name="apply" value="{{translations.APPLY}}" style="color: #12ED9F;">
            <input type="submit" name="cancel" value="{{translations.CANCEL}}" style="color: #12ED9F;">
         </div>
      </form>
      <form action="/shutdown" method="POST" style="text-align:center;">
         <input type="submit" name="shutdown" value="{{translations.SHUTDOWN}}" style="color: #12ED9F; background: #f33333;">
      </form>
      <a href="/dwn-log" style="float: right; font-size: 10px;">{{translations.DOWNLOAD_LOGS}}</a> <br>
      <a href="/view-server-log" style="float: right; font-size: 10px;">{{translations.VIEW_SERVER_LOG}}</a> <br>
      <a href="/view-display-log" style="float: right; font-size: 10px;">{{translations.VIEW_DISPLAY_LOG}}</a>
   </body>
</html>