<html>
   <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/sub_page.css') }}">

      <title>{{translations.TITLE}}</title>
   </head>
   <body>
      <div {% if debug %} class="debug_box" {% endif %}></div>

      {% if have_home %}
      <div class="home_container">
         <a href="/"><img class="home_icon" src="{{url_for('static', filename='/../images/home.png')}}"></a>
       </div>
       {% endif %}

      <h1 style="color: #12ED9F;">{{translations.TITLE}}</h1>
      <p>
         {% for line in translations.MESSAGE %}
            {{ line }}<br>
         {% endfor %}
      </p>
      <img {% if img_path %} src="{{url_for('static', filename='/../images/' + img_path)}}" {% else %} class="flag" {% endif %} />
   </body>
</html>