.sub_header {
    padding-left: 50px;
    color: #12ED9F; 
    font-size: 30px
}

.rad{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.rad + img {
    cursor: pointer;
    width: 200px;
    height: 120px;
}

.rad:checked + img {
    outline: 2px solid #12ED9F;
}

.flag {
    width: 200px;
    height: 120px;
}

.flag_border {
    width: 200px;
    height: 120px;
    outline: 2px solid #12ED9F;
}

[type=submit] {
    border: 1px solid #12ED9F;
    padding: 15px 32px;
    font-size : 30px; 
    background: whitesmoke;
    text-decoration-line: none;
}

[type=submit]:hover {
    border-color: #f0c49b;
}

.shutdown {
    border: 1px solid #12ED9F;
    padding: 15px 32px;
    font-size : 30px; 
    background: #f33333;
}

.shutdown:hover {
    border-color: #f0c49b;
}

input[type=range] {
    -webkit-appearance: none; 
    width: 100%; 
    background: transparent;
}
  
input[type='range'] {
    overflow: hidden;
    width: 400px;
    -webkit-appearance: none;
    background-color: #ffffff;
}
  
input[type='range']::-webkit-slider-runnable-track {
    height: 60px;
    -webkit-appearance: none;
    color: #13bba4;

    margin-top: -1px;
}
  
input[type='range']::-webkit-slider-thumb {
    width: 30px;
    -webkit-appearance: none;
    height: 60px;
    cursor: ew-resize;
    background: #f0c49b;
    border: 1px solid transparent;
    box-shadow: -400px 0 0 400px #12ED9F;
}

input[type=range]:focus {
    outline: solid #f0c49b;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: white;
}

.range_symbols {
    color: #12ED9F; 
    text-align: center;
    font-size: 25px;
}

.home_container {
    width: 90px;
    border: 2px solid transparent;
}

.home_container:hover {
    border-color: #f0c49b;
}

.home_icon {
    width: 90px;
    height:60px;
}

.libra_container {
    width: 50px;
    border: 2px solid transparent;
}

.libra_container:hover {
    border-color: #f0c49b;
}

.libra_icon {
    width: 50px;
    height:50px;
}